body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    background-color: rgb(192, 57, 43);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    gap: inherit;
}

header .opt {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

header .opt a {
    text-decoration: none;
    color: white;
}

.dau {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
}

.cap {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    width: 450px;
    margin-right: 50px;
}

.cap h2 {
    font-size: 38px;
}

.cap p {
    font-size: 15px;
    width: 280px;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}
.beef{
    border: 1px solid white;
    background-color: rgb(255, 249, 245);
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
}
.chick{
    border: 1px solid white;
    background-color: rgb(255, 249, 245);
    border-radius: 20px;
    overflow: hidden;
    text-align: center;

}
.special{
    border: 1px solid white;
    background-color: rgb(255, 249, 245);
    border-radius: 20px;
    overflow: hidden;
    text-align: center;

}
footer{
    background-color: rgb(44, 44, 44);
    display: flex;
    color: white;
    justify-content: center;
    margin-top: 50px;
    font-size: 15px;
}
h4{
    color: rgb(192, 57, 43);
}
